venv
config.json
.fiwu-env/
__pycache__
debian/*.gpg
debian/*.txt
debian/files
debian/changelog.pybuild/
build/
*.egg-info/
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.debhelper
debian/*.substvars
debian/fiwu/
debian/fiwu-build-deps/
*.deb
*.changes
*.buildinfo
debian/*.log
.pybuild/
